In [35]:
#Import libraries
from vega_datasets import data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [36]:
#Display de available dataset by using list_datasets method
data.list_datasets()

['7zip',
 'airports',
 'annual-precip',
 'anscombe',
 'barley',
 'birdstrikes',
 'budget',
 'budgets',
 'burtin',
 'cars',
 'climate',
 'co2-concentration',
 'countries',
 'crimea',
 'disasters',
 'driving',
 'earthquakes',
 'ffox',
 'flare',
 'flare-dependencies',
 'flights-10k',
 'flights-200k',
 'flights-20k',
 'flights-2k',
 'flights-3m',
 'flights-5k',
 'flights-airport',
 'gapminder',
 'gapminder-health-income',
 'gimp',
 'github',
 'graticule',
 'income',
 'iowa-electricity',
 'iris',
 'jobs',
 'la-riots',
 'londonBoroughs',
 'londonCentroids',
 'londonTubeLines',
 'lookup_groups',
 'lookup_people',
 'miserables',
 'monarchs',
 'movies',
 'normal-2d',
 'obesity',
 'ohlc',
 'points',
 'population',
 'population_engineers_hurricanes',
 'seattle-temps',
 'seattle-weather',
 'sf-temps',
 'sp500',
 'stocks',
 'udistrict',
 'unemployment',
 'unemployment-across-industries',
 'uniform-2d',
 'us-10m',
 'us-employment',
 'us-state-capitals',
 'volcano',
 'weather',
 'weball26',
 'wheat',
 'windvectors',
 'world-110m',
 'zipcodes']

In [37]:
### Muestra la descripción del dataset seattle_weather usando el atributo description
print("Descripción del dataset seattle_weather:", data.seattle_weather.description, sep="\n")

Descripción del dataset seattle_weather:
This dataset contains precipitation totals, temperature extremes, wind speed, and weather type recorded daily in Seattle from 2012 to 2015. The dataset is drawn from public-domain `NOAA data <https://www.weather.gov/disclaimer>`_, and transformed using scripts available at http://github.com/vega/vega_datasets/.

In [57]:
## Extrae la columna precipitation usando la columna date como índice. Extrae solo datos correspondientes al 2015.
seattle_weather = data.seattle_weather()

seattle_weather["date"] = pd.to_datetime(seattle_weather["date"])

# Configurar la columna "date" como índice
seattle_weather.set_index("date", inplace=True)
seattle_weather.head()
# Extraer solo la columna "precipitation" con los datos del año 2015
precipitation_2015 = seattle_weather[(seattle_weather.index.year == 2015)]["precipitation"]

# Convierte la columna extraída a un array de numpy.
precipitation_data = np.array(precipitation_2015)

In [39]:
## Muestra el contenido de precipitation_data
print(precipitation_data)

[ 0.   1.5  0.  10.2  8.1  0.   0.   0.   0.3  5.8  1.5  0.   0.   0.
  9.7  0.  26.2 21.3  0.5  0.   0.   0.8  5.8  0.5  0.   0.   0.8  0.
  0.   0.   0.   1.5  7.4  1.3  8.4 26.2 17.3 23.6  3.6  6.1  0.3  0.
  1.   0.   0.3  0.   0.   0.   0.   4.6  0.8  0.   0.   0.   0.   4.1
  9.4 18.3  0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.8  2.5
  0.   2.  17.  55.9  1.   0.8  0.   0.   4.1  3.8  1.   8.1  7.6  5.1
  0.   1.   0.   0.   1.8  1.   5.1  0.   1.5  0.   0.   1.   0.5  0.
  0.  10.9  0.   0.  14.   3.3  0.   0.   0.   0.   0.   0.   5.6  0.
  3.   3.3  1.3  0.   0.3  1.8  0.   0.   0.   0.   0.   0.   6.1  0.
  0.   0.   0.   0.   0.   4.3  4.1  0.3  0.   0.   0.   0.   0.   0.
  0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   4.6  0.5  0.
  0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
  0.   0.5  0.   0.   0.   0.   0.   0.   0.   0.   0.3  0.   0.   0.
  0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
  0.   0.   0.   0.   0.   0.   0.   0.   0.3  0.   2.   0.   0.   0.
  0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   7.6
  0.  30.5  0.   0.   0.   0.   0.   2.   0.   0.   0.   0.   0.   0.
  0.   0.5 32.5 10.2  0.   5.8  0.   0.   0.   0.3  5.3  0.3  0.   0.
  0.   0.   0.   0.5  0.   0.   1.   1.8  0.   0.   4.1  0.   0.   0.
  0.   2.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   9.9
  0.   0.3 28.7  0.   4.6  1.3  0.   0.   0.   0.3  3.8  0.3  0.   0.
  0.   0.   0.   8.9  6.9  0.   3.3  1.8 19.3 33.  26.2  0.3  0.8  0.
  1.3  0.  12.7  6.6  3.3  1.3  1.5  9.9 33.5 47.2 22.4  2.  29.5  1.5
  2.   0.   0.   0.   3.   7.1  0.   0.   0.   0.   0.   0.5 12.2  2.5
 12.7  2.  15.7 11.2 27.4 54.1 13.5  9.4  0.3 16.   1.3  0.   1.5  3.6
 21.8 18.5  0.   4.3 27.4  4.6  6.1  2.5  5.8  0.   8.6  1.5  0.   0.
  0. ]

In [56]:
## Exercicio 1: Calcule y muestre el total de precipitación en el 2015
print(f"El total de precipitación en el 2015 fue de", precipitation_data.sum())

El total de precipitación en el 2015 fue de 1139.2

In [41]:
## Exercicio 2: Calcule y muestre el número de días que llovió en el 2015
print(f"El número de días que llovió en 2015 fue de", (precipitation_data > 0).sum())

El número de días que llovió en 2015 fue de 144

In [42]:
## Exercicio 3: Calcula y muestre el número de días que no llovió en el 2015
print(f"El número de días que no llovió en 2015 fue de", (precipitation_data == 0).sum())

El número de días que no llovió en 2015 fue de 221

In [63]:
## Exercicio 4: Extrae la columna temp_max con datos correspondientes al 2015.
## Convierte el dataframe en un numpy array.
temp_max_2015 = seattle_weather[(seattle_weather.index.year == 2015)]["temp_max"]
temp_max = np.array(temp_max_2015)

In [64]:
## Muestra el array
print(temp_max)

[ 5.6  5.6  5.  10.6 12.2 12.2  7.8  7.8 10.   7.8  9.4 11.1  9.4  6.1
  7.8 11.7 13.3 13.9 10.  10.   7.2  9.4 12.2 14.4 17.2 16.1 11.1 12.2
 12.2  8.3  7.2  9.4 11.1 10.  10.6 13.3 14.4 12.2 15.  13.3 12.8 12.8
 16.7 15.6 14.4 12.2 15.  16.1 12.2 10.6 11.1 12.2 11.7 12.8 11.1 10.
 11.7 10.  12.2 11.1 11.1 10.6 12.8 13.3 15.  16.7 17.2 14.4 13.3 14.4
 17.8 17.2 13.9 10.6 13.9 13.3 15.6 15.6 13.9 13.3 11.7 11.1 12.8 14.4
 20.6 18.3 15.6 15.6 17.8 12.8 12.8 13.3 11.1 12.8 16.7 13.9 14.4 17.2
 17.2 13.9 11.7 13.3 11.7 11.7 13.9 17.8 18.9 18.9 21.1 22.8 17.2 15.6
 12.2 12.2 13.3 15.6 25.  15.6 16.1 17.2 18.3 18.3 20.6 17.2 14.4 16.7
 20.6 23.9 26.7 19.4 13.9 15.6 12.2 17.8 20.  15.6 19.4 25.6 21.7 23.3
 25.6 16.7 16.1 17.8 15.6 21.7 24.4 27.8 26.1 22.8 25.  16.1 17.8 20.
 22.8 26.7 29.4 31.1 30.6 28.9 25.6 24.4 20.  23.9 27.8 30.  22.8 25.
 24.4 23.9 25.  25.6 25.  26.1 25.6 30.6 31.7 33.3 28.3 28.9 30.6 32.2
 33.9 33.3 33.3 32.8 29.4 27.2 30.  28.9 21.1 22.2 26.1 25.6 27.8 26.1
 26.1 27.8 33.3 35.  26.7 23.9 23.9 26.1 22.8 21.1 22.2 23.3 27.8 32.2
 34.4 34.4 33.3 30.6 28.3 26.1 23.3 25.  28.3 25.  28.3 28.9 30.  28.3
 28.3 18.3 21.7 25.  27.2 30.  31.7 22.8 22.2 26.7 27.8 23.9 25.6 28.3
 29.4 23.3 22.2 20.  18.9 19.4 19.4 18.3 18.3 20.6 16.1 21.1 22.8 24.4
 25.  27.2 26.7 20.6 16.7 17.8 20.  18.3 19.4 21.1 22.8 18.3 18.9 20.6
 22.2 15.6 18.3 17.8 21.1 21.7 18.3 21.1 15.6 19.4 22.8 23.3 18.3 16.1
 18.9 19.4 21.1 17.8 18.3 16.7 15.  21.1 20.  19.4 15.  17.2 17.8 16.1
 16.1 12.8 15.  19.4 12.2 16.1 13.9 15.  17.2 15.6 12.2 11.1 10.6 10.
 11.7 15.6 12.2 11.1 10.  11.1 11.1 11.1 13.3  9.4  8.9  8.9 13.3  8.9
  8.9  8.3  8.9 10.   6.7  6.7  7.2  9.4  9.4  7.2  1.7  5.6 10.  10.6
 15.6 10.6 10.  12.8 11.1 15.6 12.2 11.7  9.4  8.9  7.8  7.8  6.7  6.1
  6.7  8.9  8.3  7.8  5.6  7.8  5.   5.6  5.   4.4  4.4  5.   7.2  5.6
  5.6]

In [65]:
## Exercicio 5: Encuentre y muestre el número de días donde la temperatura excede 25 grados celcius.
print(f"El número de días donde la temperatura excedió los 25 grados fue de", (temp_max > 25).sum())

El número de días donde la temperatura excedió los 25 grados fue de 65

In [66]:
## Exercicio 6: Extrae las columnas wind con datos correspondientes al 2015.
wind_2015 = seattle_weather[(seattle_weather.index.year == 2015)]["wind"]
wind = np.array(wind_2015)
print(wind)

## Calcule y muestre el promedio de la velocidad del viento para días con precipitación mayor a 1mm.
print(f"\nEl promedio de la velocidad del viento para días con precipitación mayor a 1mm es de", wind[(precipitation_data > 1)].mean())

[1.2 2.3 1.7 4.5 6.4 1.3 1.6 2.6 0.6 0.5 1.1 1.6 2.7 2.8 3.2 4.5 2.8 6.6
 2.8 3.  1.3 1.3 2.6 3.3 1.4 2.2 2.  1.8 2.9 0.8 1.9 2.6 4.  1.9 1.7 4.6
 4.5 4.6 3.9 2.5 4.  1.  2.1 1.7 2.9 4.8 6.6 4.  2.6 2.2 0.9 4.5 4.2 1.4
 1.5 1.  1.4 4.  5.1 2.2 4.8 2.1 1.8 1.3 1.4 2.7 1.7 1.8 2.6 3.1 3.2 2.2
 3.8 4.2 3.  2.6 2.5 1.9 1.9 4.7 2.3 2.8 3.9 4.4 2.2 4.  5.7 3.  2.9 4.2
 3.2 2.4 3.6 1.7 2.4 3.5 3.9 1.7 2.3 4.6 6.5 3.6 3.6 3.3 2.4 3.1 3.6 3.9
 3.6 2.6 3.4 2.3 4.1 5.  3.  2.7 2.3 4.3 4.7 2.1 3.7 3.7 2.6 5.2 5.1 2.6
 3.  3.  2.6 2.8 2.5 3.3 2.8 2.  2.8 3.  2.1 3.  2.6 1.8 2.1 3.7 2.6 2.7
 2.7 2.1 1.8 2.1 2.5 2.5 2.2 3.4 5.  3.  3.9 4.3 2.6 3.2 3.5 2.7 3.  3.5
 2.3 2.6 3.7 3.5 3.  3.1 3.  3.2 4.3 3.4 2.4 2.4 2.6 3.  4.7 3.9 2.1 2.7
 3.4 4.3 3.4 2.6 2.9 2.1 3.2 2.4 1.9 3.4 3.7 3.  2.2 3.1 3.3 3.2 2.8 3.3
 3.4 3.3 3.9 2.4 2.8 1.9 3.8 2.4 2.6 1.9 3.4 3.8 3.5 2.6 3.1 2.  2.3 2.6
 3.5 2.9 3.7 3.6 2.2 2.4 4.4 2.7 2.2 5.2 3.7 3.7 3.  3.  2.1 4.2 2.6 2.5
 1.8 2.3 3.4 1.7 2.1 2.6 5.8 4.7 5.8 5.  3.8 2.9 2.9 3.5 2.4 1.5 2.4 3.3
 3.6 3.1 2.1 3.  3.4 2.8 1.9 3.8 2.6 4.3 6.8 2.7 2.  1.8 2.5 2.6 2.7 3.8
 5.1 1.9 1.3 1.3 2.9 4.8 3.7 1.6 2.6 2.2 1.1 2.6 4.7 2.6 2.8 3.2 5.  3.4
 1.3 1.3 2.  2.6 1.8 1.3 2.7 2.6 2.9 3.4 4.6 1.7 2.8 4.7 6.7 7.2 6.  2.8
 1.4 2.2 2.3 2.7 3.  1.8 1.3 3.9 4.6 5.1 6.5 4.5 4.1 4.  8.  3.8 4.2 4.
 4.7 3.1 1.3 4.5 5.7 4.3 3.  1.  0.9 1.7 3.5 5.  5.9 4.7 4.  5.9 3.4 6.2
 6.3 7.5 2.8 5.6 6.1 1.7 2.9 2.3 6.  5.1 4.1 6.7 4.3 5.  7.6 4.3 1.5 2.5
 2.9 1.3 2.6 3.4 3.5]

El promedio de la velocidad del viento para días con precipitación mayor a 1mm es de 3.9311926605504586

In [71]:
## Exercicio 7: Extrae las columnas temp_min y temp_max con datos correspondientes al 2015.
temp_min_2015 = seattle_weather[(seattle_weather.index.year == 2015)]["temp_min"]
temp_min = np.array(temp_min_2015)

temp_max_2015 = seattle_weather[(seattle_weather.index.year == 2015)]["temp_max"]
temp_max = np.array(temp_max_2015)

In [82]:
"""Encuentra las temperaturas máximas y mínimas registradas durante los meses de julio
 y agosto de 2015. Para hacerlo, necesitas extraer una columna de data.seattle_weather()
 y obtener el rango de números de índice para julio y agosto. Una vez que los tengas,
 indexa los datos de temperatura mínima y luego calcula y muestra la temperatura máxima y mínima.
"""
mask = (seattle_weather.index.year == 2015) & (seattle_weather.index.month.isin([7, 8]))

# Obtener la temperatura máxima y mínima
v_temp_max = seattle_weather[mask]["temp_max"].max()
v_temp_min = seattle_weather[mask]["temp_min"].min()

print("La temperatura máxima entre julio y agosto del 2015 fue de", v_temp_max, "grados")
print("La temperatura mínima entre julio y agosto del 2015 fue de", v_temp_min, "grados")

1461
La temperatura máxima entre julio y agosto del 2015 fue de 35.0 grados
La temperatura mínima entre julio y agosto del 2015 fue de 12.2 grados

In [84]:
## Exercicio 8: Determina y muestra el número de días con temp_max > 20°C y temp_min < 10°C
res = np.sum((temp_max > 20) & (temp_min < 10))
print("El número de días con temp_max > 20°C y temp_min < 10°C es de", res)

El número de días con temp_max > 20°C y temp_min < 10°C es de 14

In [89]:
## Exercicio 9: Calcule y muestre el promedio de precipitación por días con temperatura máxima mayores a 15 y menores a 30 grados.
res = precipitation_data[(temp_max_2015 > 15) & (temp_max_2015 < 30)].mean()

print("El promedio de precipitación por días con temperatura máxima mayores a 15 y menores a 30 grados es de", res)

El promedio de precipitación por días con temperatura máxima mayores a 15 y menores a 30 grados es de 1.6437837837837839